@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

*{
    margin: 0;
    padding:0;
    border: 0;
}


html,body{
    height: 100%;
    width: 100%;
    font-family: 'Nunito', sans-serif;
    color:rgba(255, 255, 255, 0.733);
    background: linear-gradient(-45deg, #000000, #081447, #000000, #1a1919);
    background-size: 400% 400%;
    animation: gradient 30s ease infinite;
}


.navbar{
    padding:.8rem;

}

.navbar-nav li{
    padding-right:20px;
}

.nav-link{
    font-size: 1.1em !important;
}


.carousel-item
{
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, webkit-transform 0.5s ease;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
}


.carousel-caption
{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    height: fit-content;
    
}

.carousel-caption h1
{
    font-size: 800%;
    text-transform: uppercase;
    text-shadow: 1px 1px 15px black;

}

.carousel-caption h3
{
    font-size: 350%;
    font-weight: 500;
    text-shadow: 1px 1px 10px black;

}

.carousel-caption p
{
    font-size: 150%;
    font-weight: 500;
    text-shadow: 1px 1px 10px black;

}


.padding
{
    padding-bottom: 1rem;
}

#aboutME
{
    width: 100%;
    margin: 0 auto;
    padding-top: 4rem;
    background: linear-gradient(-45deg, #000000, #181717, #181717, #000000);
    background-size: 400% 400%;
    animation: gradient 30s ease infinite;
}

@keyframes gradient 
{
    0% 
    {
      background-position: 0% 50%;
    }
    50% 
    {
      background-position: 100% 50%;
    }
    100% 
    {
      background-position: 0% 50%;
    }
}

#aboutME hr{
    border-top: 2px solid #b4b4b4;
    width: 90%;
    margin-top: .3rem;
    margin-bottom: 1rem;
    margin-right: 5rem;
    margin-left: 5rem;
}

.profiletext{
    font-size: 20px;
    padding-top: 50px;
}

.card-img-top
{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}


#skills hr{
    border-top: 2px solid #b4b4b4;
    width: 90%;
    margin-top: .3rem;
    margin-bottom: 1rem;
    margin-right: 5rem;
    margin-left: 5rem;
}

#projects hr{
    border-top: 2px solid #b4b4b4;
    width: 90%;
    margin-top: .3rem;
    margin-bottom: 1rem;
    margin-right: 5rem;
    margin-left: 5rem;
}

.fa-python 
{
    color: rgb(223, 220, 22);
    font-size: 7em;
    margin: 1rem;
}

.fa-css3-alt 
{
color: rgb(0, 119, 255);
font-size: 7em;
margin: 1rem;
}

.fa-java 
{
color: rgb(255, 0, 0);
font-size: 7em;
margin: 1rem;
}

.fa-linux 
{
color: rgb(138, 64, 235);
font-size: 7em;
margin: 1rem;
}

.fa-github
{
    color: rgb(253, 253, 253);
    font-size: 7em;
    margin: 1rem;
}

.fa-html5
{
    color: rgb(199, 36, 36);
    font-size: 7em;
    margin: 1rem;
}

.fa-js-square
{
    color: rgb(57, 255, 106);
    font-size: 7em;
    margin: 1rem;
}



footer{
    
    color: #d5d5d5;
    padding-top: 2rem;
}


/***********************************************************/

/*--Media Queries--*/
@media(max-width: 992px)
{

}
@media(max-width: 768px)
{
    .carousel-caption{
        top: 45%;
    }
    
    .carousel-caption h1{
        font-size: 350%;
    }
    
    .carousel-caption h3{
        font-size: 140%;
        font-weight: 400;
        padding-bottom: .2rem;
    }

}
@media(max-width: 576px)
{


}

/*--Bootstrap Padding Fix--*/
[class*="col-"]
{
    padding: 1rem;
}

.carousel-item img{
    width: 100%;
}
